# ------------------------------------------------------------------------------
# file: .gitattributes
# type: Git attributes
# project: gawkmake
# ------------------------------------------------------------------------------

# -- Guardian EDIT files - TACL, TAL source etc
*.tacl filter=guardianfilter

# -- Microsoft Word docs
*.docx diff=docx
*.doc  diff=docx

# ------------------------------------------------------------------------------
# EOF
# ------------------------------------------------------------------------------ 
