# ------------------------------------------------------------------------------
# file: .gitignore
# type: Git ignore file
# project: awkmake
# ------------------------------------------------------------------------------
/untracked/
*.mk
