# ------------------------------------------------------------------------------
# file: .gitignore
# type: Git ignore file
# project: gawkmake
# ------------------------------------------------------------------------------

# stuff I just don't want to track
/untracked/

# target makefiles
*.mk

# GAWK debugging
**/.gawk_history
**/.gawkrc

